@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

:root {
    --light-red: hsl(0, 100%, 67%);
    --light-red1: #fff6f5;
    --orangey-yellow: hsl(39, 100%, 56%);
    --orangey-yellow1: #fffbf2;
    --green-teal: hsl(166, 100%, 37%);
    --green-teal1: #f2fafa;
    --cobalt-blue: hsl(234, 85%, 45%);
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --light-lavender1: #f3f3fd;
    --dark-grey-blue: hsl(224, 30%, 27%);
    --gradient: linear-gradient( hsl(252, 100%, 67%) 0%, hsl(241, 81%, 54%) 100%);
    --gradient1: linear-gradient( hsla(256, 72%, 46%, 1)0%, hsla(241, 72%, 46%, 0) 100%);
}

html{
    font-size: 62.5%;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
}

main {
    width: 100%;
    height: 100vh;
}

.primary-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-card {
    background-color: var(--white);
    display: flex;
    border-radius: 2rem;
    box-shadow: var(--light-lavender) 15px 15px 15px -2px;
}

.blue-bg-card {
    display: flex;
    flex-direction: column;
    background: var(--gradient);
    color: var(--white);
    width: 22rem;
    border-radius: 2rem;
    padding: 2em;
    justify-content: center;
    align-items: center;
}

h3 {
    text-align: center;
    font-size: 1.5rem;
    color: var(--orangey-yellow1);
}

.circle {
    border-radius: 50%;
    background: var(--gradient1);
    width: 12rem;
    height: 12rem;
    align-items: center;
    text-align: center;

}

.big-num {
    font-size: 4.5rem;
    font-weight: 800;
    margin-top: 2.5rem;
    color: var(--white);
}

.label {
    font-size: 1.2rem;
    color: var(--light-lavender);
    opacity: .5;
    color: var(--pale-blue);
}

article {
    text-align: center;
}

h2 {
    font-size: 2rem;
}

p {
    margin-top: 2rem;
    font-size: 1.4rem;
    columns: var(--orangey-yellow1);
    padding: 0 1.2rem;
}

.white-bg-result {
    margin: 1.7rem 2rem;
    width: 22rem;
}

.white-bg-result .heading p {
    color: var(--dark-grey-blue);
    font-weight: 900;
    margin-left: -1rem;
    font-size: 1.6rem;
}

.white-bg-result .scores-body .subject-scores{
    display: grid;
    grid-template-columns: 30px 1fr 1fr;
    border-radius: .5rem;
    padding: .9rem;
    margin: 1rem 0;
    font-size: 1.2rem;
    font-weight: 800;
}

img {
    width: 1.3rem;
}

.white-bg-result .scores-body .subject-scores .align-right{
    text-align: right;
    color: hsla(224, 30%, 27%, 50%);
}

.dark-blue {
    color: var(--dark-grey-blue);
}

.white-bg-result .scores-body .subject-scores:nth-child(1) {
    background: var(--light-red1);
    color: var(--light-red);
}

.white-bg-result .scores-body .subject-scores:nth-child(2){
    background: var(--orangey-yellow1);
    color: var(--orangey-yellow);
}

.white-bg-result .scores-body .subject-scores:nth-child(3){
    background: var(--green-teal1);
    color: var(--green-teal);
}

.white-bg-result .scores-body .subject-scores:nth-child(4){
    background: var(--light-lavender1);
    color: var(--cobalt-blue);
}

.white-bg-result .scores-body .button {
    background: var(--dark-grey-blue);
    color: var(--white);
    margin-top: 1.6rem;
    padding: 1rem;
    width: 100%;
    border-radius: 5rem;
    border: none;
    cursor: pointer;
    transition: all .3s ease;
}

.white-bg-result .scores-body .button:hover {
    background: var(--gradient);
}

@media only screen and (max-width: 375px) {
    .container-card {
        flex-direction: column;
        box-shadow: none; 
        justify-content: center;
        height: 100vh;
    }

    .blue-bg-card {
        width: 90%;
        margin-top: -2rem;
        border-radius: 2rem;
    }
    .white-bg-result .result-card .scores-body{
        width: 150%;
        justify-content: center;
    }
    .result-card .scores-body .subject-scores {
        font-size: 1.7rem;
    }
    
    .button {
        width: 70%;
        align-items: center;
        font-size: 1.7rem;
    }
}

.footer {
    text-align: center;
    font-size: 1.8rem;
}